<%= error_messages_for(@resource) %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :configurations %><br>
		<%= f.text_field :configurations %>
	</p>
	<p>
	<%= f.label :ismultiple, "Is Multiple ?" %>
	<%= f.check_box :ismultiple %>
	</p>