<%= error_messages_for(@room)%>

<%= link_to "<< Back to Rooms list", {:controller => "rooms", :action=>"index"}, :class =>"back-link"%>

<div class="room new">

	<h2>Add a New Room</h2>

	<%= form_for(:room, :url=>{:action => "create"}, :html => {:multipart => true}) do |f|%>

		<%= render :partial => "form", :locals => {:f=>f} %>

		<div class="form-buttons">
			<%= submit_tag("Add new Room")%>
		</div>
	<%end%>

</div>