<% @page_title = "Appointment List"%>

<%if flash[:notice]%>
	<div><%= flash[:notice]%></div>
<%end%>
<%= link_to "<< Back to menu", {:controller=>"access", :action=>"index"}, :class=>"back-link"%>

<div>

	<%= link_to "Create a New Appointment", {:controller=>"appointments",:action=>"new"}%>

	<table>
		<th> User </th>
		<th> Room </th>
		<th> Start Time </th>
		<th> End Time </th>

		<%@appointments.each do |appointment|%>
			<tr>
				<td><%= appointment.user.to_s%></td>
				<td><%= appointment.room_check%></td>
				<td><%= appointment.start_time%></td>
				<td><%= appointment.end_time%></td>
				<td><%= link_to "Edit", {:controller =>"appointments", :action=>"edit", :id=>appointment.id}%></td>
				<td><%= link_to "Delete", {:controller =>"appointments", :action=>"destroy", :id=>appointment.id}%></td>
			</tr>
		<%end%>

	</table>
</div>